<% include header.ejs %>
<section class="insert">
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 500px;">
                <h4 class="card-title mt-5 text-center">Crear Área Médica </h4>
                
                <form method="post">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar-alt"></i> </span>
                    </div>
                    <input name="area" id="area" class="form-control" size="50" placeholder="Ingresar Nombre Área Médica" type="text" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Crear </button>
                </div>                                                                           
            </form>
            </article>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> 
</section>

<% include footer.ejs %>