<% include header.ejs %>
<section class="insert">
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Formulario Petición hora</h4>
                
                <form method="post">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar-alt"></i> </span>
                    </div>
                    <input name="fecha" id="nfecha" class="form-control" placeholder="Ingresar fecha" type="date" required>
                </div>

                <div class="col">
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                
                                <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                </div>
                                <input type="text" name="hora" id="hora" placeholder="Click en ícono para seleccionar hora deseada" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker3').datetimepicker({
                                format: 'LT',

                            });
                        });
                    </script>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                        </div>
                    <input name="paciente" id="paciente" class="form-control" placeholder="Ingresar RUT" type="text" required>
                </div>
            
                <div class="form-group  input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fas fa-user-md"></i> </span>
                        </div>

                        <select class="form-control" id="area" name="area">
                            <% areas.forEach(function(item) { %>
                                <option>
                                    <%= item.nombre %>
                                </option>
                            <% }) %>
                        </select>
                              
                     <!-- <textarea class="form-control" placeholder="area de atencion" id="area" name="area" ></textarea> -->
                    
                </div>
                <div class="form-group  input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fas fa-comment-alt"></i> </span>
                        </div>
                     <textarea class="form-control" placeholder="comentarios y/o alcances" id="comentario" name="comentario" rows="5"></textarea>
                    
                </div>
                   
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Solicitar Hora </button>
                </div>                                                                           
            </form>
            </article>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> 
</section>

<% include footer.ejs %>
