<!-- Footer -->
<footer class="page-footer font-small  bg-info pt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mt-md-0 mt-3 ">

        <!-- Content -->
        <h5 class="text-light font-weight-bold">Sitios de Interes</h5>
        <p>
        Llano Subercaseaux #3519, San Miguel <br>
            Fono: (56)(2) 28201200 <br><br>
            Departamento de Comunicaciones <br>
        comunicaciones@corporacionsanmiguel.cl<br><br>

            Departamento de Sistemas de Información<br>
            soporte@corporacionsanmiguel.cl</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-light">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://cmsm.cl/cesfam/">CESFAM Recreo</a>
          </li>
          <li>
            <a href="https://cmsm.cl/cesfam-barros-lucos/">CESFAM Barros Lucos</a>
          </li>
          <li>
            <a href="https://cmsm.cl/farmacia-comunal/">Farmacia Comunals</a>
          </li>
          <li>
            <a href="http://localhost:3000/us">Contáctanos</a>
          </li>
        </ul>

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">DIRSAL San Miguel:
    <a href="https://cmsm.cl/direccion-salud/">direccion-salud</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer --> 
</body>
</html>