<% include header.ejs %>


<div class="card text-center">
      <div class="card-header">
        Ingreso de documento Paciente DIRSAL
      </div>
    <div class="card-body">
      <p class="card-text" >
        <h4>Selecciona archivo para incluirlo a la base</h4>
        <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
          <div class="form-inline" >
              <div class="form-group content" style="inner">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
          <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
          </div>
        </form>
      </p>  
  </div>
</div>


<% include footer.ejs %>