<% include header.ejs %>




<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Crear cuenta de usuario Dirsal</h4>
                <!-- <p class="text-center">Get started with your free account</p> -->
                
                <form>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="nombre" class="form-control" placeholder="Ingresa tu nombre" type="text" required>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                        </div>
                    <input name="rut" class="form-control" placeholder="Ingresa  RUT" type="text" required>
                </div>
                

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" placeholder="Ingresa dirección de email" type="email" required>
                </div> 
                

              
                

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-users"></i> </span>
                    </div>
                    <select class="form-control" required>
                        <option name="cargo" >Selecciona cargo</option>
                        <option name="cargo" selected="administrador">Administrador</option>
                        <option name="cargo" selected="mantenedor">Mantenedor</option>
                        <option name="cargo" selected="especialista">Especialista</option>
                    </select>
                </div>
                

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" placeholder="Ingresa contraseña" type="password" required>
                </div> 
                

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="confPassword" class="form-control" placeholder="Repite contraseña" type="password" required>
                </div>
                
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Crear usuario </button>
                </div> 
                
                                                                                
            </form>
            </article>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> 

<% include footer.ejs %>

