<% include header.ejs %>

<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4">Sobre Nosotros
        <small>Gracias por visitar DIRSAL San Miguel</small>
    </h1>
    <p>Contacta a nuestro equipo</p>
    
    <!-- Team Members Row -->
    <div class="row justify-content-center" >
        <div class="col-lg-12">
        <h2 class="my-4">Conformación de equipo</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Yerson Sarria
            <i><small><small>Jefe de Proyecto</small></small></i>
        </h3>
        <p>yerson.sarria@mail.udp.cl</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Leandro Valenzuela
            <i><small><small>Documentador</small></small></i>
        </h3>
        <p>leandro.valenzuela@mail.udp.cl</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
        <h3>Thomas Cancino
            <i><small><small>Constructor</small></small></i>
        </h3>
        <p>thomas.cancino@mail.udp.cl</p>
        </div>
        
    </div>
    
    </div>
    <!-- /.container -->

